<!DOCTYPE html>
<html>

<head>
    <title>Il Mio Quiz Speciale</title>
    <!-- Includi la libreria Slick Slider -->
    <link rel="stylesheet" type="text/css" href="/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="/css/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="/css/personal.css" />
    <!-- Includi Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Includi Bootstrap JavaScript e jQuery -->
    <script src="/js/jquery.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/slick.min.js"></script>


</head>

<body>
    <h1 id="title" style="text-align: center;">Scopri se sei un vero Balto</h1>
     <div id="quiz">
        <div id="heart-container" style="display: none;"></div>
        <div id="start-button-container">
            <img src="/images/stock/background.jpg" alt="Balto Image" id="start-image">
            <button id="start-button">Start</button>
        </div>
        <div id="question-container" style="display: none;">
            <h2 id="question-text"></h2>
            <div id="options"></div>
        </div>
        <div id="results-container" style="display: none;">
            <p id="results-text"></p>
        </div>
        <p id="question-count" style="font-size: 16px; margin-top: 10px;"></p>

    </div>
    
    <div id="prize">

    </div>

    
    <script src="/js/personal.js"></script>
</body>

</html>